{% extends 'ticker/base.html' %}
{% load static %}

{% block body %}
   <div class="container welcome">
      <h2>Register</h2>
      <br>
      <form action="{% url 'register' %}" method="post">
         {% csrf_token %}
         <div class="form-outline form-white mb-3 mt-3">
            <input class="form-control" type="text" name="username" id="username" placeholder="Username" autocomplete="off" autofocus required>
            <label for="username" class="visually-hidden">Username</label>
            <small id="usernameHelp" class="form-text text-muted">No pressure, you'll regret it either way</small>
         </div>
         <div class="form-outline mb-3 mt-3">
            <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" autocomplete="off">
            <label for="email" class="visually-hidden">Email</label>
            <small id="emailHelp" class="form-text text-muted">We will share it with all kinds of shady actors</small>
         </div>
         <div class="form-outline mb-3 mt-3">
            <input class="form-control" type="password" name="pwd" id="pwd" placeholder="Password" autocomplete="off" required>
            <label for="pwd" class="visually-hidden">Password</label>
         </div>
         <div class="form-outline mb-3 mt-3">
            <input class="form-control" type="password" name="confirmation" id="confirmation" placeholder="Confirm Password" autocomplete="off" required>
            <label for="confirmation" class="visually-hidden">Confirm Password</label>
         </div>
         <br>
         <!-- Benchmark feature -->
         <hr>
         <br>
         <h3>Initial Stack (Benchmark)</h3>
         <div class="row">
            <div class="col">
               <div class="form-outline mb-3 mt-3">
                  <select class="form-control" id="bTicker" name="bTicker" placeholder="Asset" required readonly>
                     <option value="BTC">BTC</option>
                  </select>
                  <label for="bTicker" class="form-label visually-hidden">Asset:</label>
               </div>
            </div>
            <div class="col">
               <div class="form-outline mb-3 mt-3">
                  <input class="form-control" type="number" name="bAmount" id="bAmount" placeholder="Amount" min="0.00000001" step="0.00000001" required>
                  <label for="bAmount" class="visually-hidden">Amount</label>
               </div>
            </div>
         </div>
         <input class="btn btn-outline-light btn-lg btn-block" type="submit" value="Register">
         <br><br>
         <small id="assetHelp" class="form-text text-muted">*Asset options currently limited to BTC.</small>
      </form>
      <br><br>
      <p>Already have an account?</p>
      <p><a href="{% url 'login' %}">Sign in</a></p>
      <br><br>
   </div>
{% endblock %}
